@use "./utils/variables" as *;

.button {
  padding: 8px 40px;
  transition: all 0.3s ease-in-out;
  border: 2px solid $Black;
  background-color: transparent;
  font-family: $Font-Alata;
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $Black;
    color: $White;
  }
}
