// Colors

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

// Fonts

$Font-Size: 15px;
$Font-Alata: 'Alata', sans-serif;
$Font-Josefin-Sans: 'Josefin Sans', sans-serif;

// Breakpoints

$Tablet: 1000px;